mysql:
  host: localhost
  port: 3306
  username: root
  password: 12345678
  database: cloud_disk
  charset: utf8mb4
  max_idle_conns: 10
  max_open_conns: 100

redis:
  host: localhost
  port: 6379
  password: ''
  database: